/* -------------------------------------------------------------------------------------------------- */
/* ---------------------------------------社員編集画面のCSS------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

/* explain: アスタリスクの表示 */
.required:after {
    content: " *";
    color: red;
}
.asterisk:before {
    content: " *";
    color: red;

}
/* explain: 「必須項目」の表示位置 */
.require_box{
    position: relative;
    left: 30px;
    bottom: 20px;
}

/* explain: エラーメッセージの赤文字表示 */
.error {
 padding:12px;
 font-weight:850;
 color: red;
}


/* explain: 姓名の入力ボックスの間のスペースの表示 */
.box {
    width: 1.1em;
    border-top:1.5px solid;
    border-bottom:1.5px solid;
    border-left:none;
    border-right:none;
    pointer-events: none;
}
