/* -------------------------------------------------------------------------------------------------- */
/* ---------------------------------------社員一覧画面のCSS------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */


/* explain: ボタンのリンク表示 */
button.link-style{
    cursor: pointer;
    border: none;
    background: none;
    color: #0033cc;
    text-decoration: underline;
    font-size: 16px
  }
  button.link-style:hover{
  
    color: #002080;
  }